body{
    background-color: rgb(12, 11, 11);
}
.imagekabhatija{
    top: 0;
    position:absolute;
    background-color: black;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 1s;
    height: 19rem;
    color:white;
    margin:2px;
    padding: 2px;
    font-weight: 500;
    font-size: 0.5rem;

}
.imagekabhatija:hover{
    opacity: 0.7;
    font-size: 1rem;
}
.myfreestyle{
    top: 0;
    right:0;
    position:absolute;
    background-color:rgb(24, 24, 77);
}
.invisible {
    background-color: white;
    visibility: hidden;
    top:-9vh;
    border: 5px solid white;
    position:absolute;
    left:2vw;
  }
  .visible{
    background-color: white;
    visibility: visible;
    top:-9vh;
    border: 5px solid white;
    position:absolute;
    left:2vw;
  }

  input[type="text"],
input[type="email"],
input[type="number"],
select, textarea{
    width:70%;
    padding:12px;
    border: 1px solid gold;
    /* to make border curve */
    border-radius: 5px;
}

.mainhead{
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}
.mhead{
    background-color: rgb(78, 92, 92);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: star;

}
.mp{
    background-color: rgb(78, 92, 92);
}
